# MTA TURNSTILE (EDA Project)

### Premise:
* Goal is to develop a strategy for increasing sign-up of individuals to the WomenTechWomenYes (WTWY) annual gala
* The gala is held at the start of each Summer; therefore the marketing campaign would take place in the months leading up to June

### Assumptions:
* The Gala is a fundraising event with paid tickets
*

In [4]:
import pandas as pd
import numpy as np

In [32]:
shapes = '[PROJECT #1] Data/google_transit/shapes.txt'
df_shapes = pd.read_csv(shapes)

In [31]:
trips = '[PROJECT #1] Data/google_transit/trips.txt'
df_trips = pd.read_csv(trips)

In [51]:
df = pd.merge(df_trips, df_shapes, how='left', on='shape_id')
df

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_000600_1..S03R,South Ferry,1,NaN,1..S03R,40.889248,-73.898583,0.0,NaN
1,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_000600_1..S03R,South Ferry,1,NaN,1..S03R,40.887195,-73.899616,1.0,NaN
2,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_000600_1..S03R,South Ferry,1,NaN,1..S03R,40.886309,-73.900041,2.0,NaN
3,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_000600_1..S03R,South Ferry,1,NaN,1..S03R,40.884928,-73.900730,3.0,NaN
4,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_000600_1..S03R,South Ferry,1,NaN,1..S03R,40.884667,-73.900870,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7373608,SI,SIR-FA2017-SI017-Sunday-00,SIR-FA2017-SI017-Sunday-00_138600_SI..S03R,Tottenville,1,NaN,NaN,NaN,NaN,NaN,NaN
7373609,SI,SIR-FA2017-SI017-Sunday-00,SIR-FA2017-SI017-Sunday-00_141100_SI..N03R,St George,0,NaN,NaN,NaN,NaN,NaN,NaN
7373610,SI,SIR-FA2017-SI017-Sunday-00,SIR-FA2017-SI017-Sunday-00_141600_SI..S03R,Tottenville,1,NaN,NaN,NaN,NaN,NaN,NaN
7373611,SI,SIR-FA2017-SI017-Sunday-00,SIR-FA2017-SI017-Sunday-00_144100_SI..N03R,St George,0,NaN,NaN,NaN,NaN,NaN,NaN
7373612,SI,SIR-FA2017-SI017-Sunday-00,SIR-FA2017-SI017-Sunday-00_147100_SI..N03R,St George,0,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
df['shape_id'].unique()

array(['1..S03R', '1..N03R', '1..S04R', nan, '2..S08R', '2..N08R',
       '2..S01R', '2..N01R', '2..N03R', '2..S03R', '3..S42R', '3..N42R',
       '3..S01R', '3..N01R', '3..S03R', '4..S01R', '4..S13R', '4..N13R',
       '4..S41R', '4..S06R', '4..N01R', '4..N03R', '4..N06R', '4..S05R',
       '4..N02R', '4..S34R', '4..S39R', '4..S36R', '4..N43R', '4..S28R',
       '4..N34R', '4..S03R', '4..N64R', '5..S32R', '5..N32R', '5..S01R',
       '5..N01R', '5..S08R', '5..S02R', '5..S03R', '5..S04R', '5..S09R',
       '5..S06R', '5..S15R', '5..S11R', '5..S14R', '5..S21R', '5..S07R',
       '5..S12R', '5..N06R', '5..N31R', '6..S01R', '6..N01R', '6..S03R',
       '6..N03R', '6..N06R', '6..S06R', '6..S02R', '6..N02R', '7..S97R',
       '7..N97R', 'GS.N01R', 'GS.S01R', 'GS.N03R', 'GS.S03R', 'GS.N04R',
       'GS.S04R', '7..S99R', '7..N96R', '7..S96R', '7..N98R', '7..S98R',
       '7..N95R', 'A..N43R', 'A..S43R', 'A..N09R', 'A..N55R', 'A..N54R',
       'A..S37R', 'A..N04R', 'A..N37R', 'A..S52R', 'A..S16R', 'A..N65R',
       'A..N85R', 'A..N18R', 'A..N17R', 'A..N86R', 'A..S87R', 'A..N58R',
       'B..S45R', 'B..N45R', 'B..N46R', 'B..S46R', 'C..S04R', 'C..N04R',
       'D..S05R', 'D..N05R', 'D..N07R', 'D..S07R', 'D..S14R', 'D..N09R',
       'D..S78R', 'D..N14R', 'E..S04R', 'E..N05R', 'E..S69R', 'E..N72R',
       'E..S71R', 'E..N66R', 'E..S56R', 'E..N70R', 'E..N55R', 'F..S69R',
       'F..N69R', 'FS.S01R', 'FS.N01R', 'H..S21R', 'H..N21R', 'J..S12R',
       'J..N12R', 'J..S13R', 'J..N60R', 'J..S15R', 'J..S54R', 'J..S16R',
       'M..S30R', 'M..N30R', 'M..N20R', 'M..S20R', 'N..S20R', 'N..N20R',
       'N..N23R', 'N..S27R', 'R..N93R', 'R..S36R', 'R..S98R', 'R..N96R',
       'F..N75R', 'F..S68R', 'F..N68R', 'F..N72R', 'F..S72R', 'L..S01R',
       'L..N01R', 'L..N02R', 'L..S05R', 'L..N05R'], dtype=object)

In [74]:
url = 'http://web.mta.info/developers/data/nyct/subway/StationEntrances.csv'
df_stations = pd.read_csv(url)
df_stations

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,Route_1,Route_2,Route_3,Route_4,Route_5,...,Staffing,Staff_Hours,ADA,ADA_Notes,Free_Crossover,North_South_Street,East_West_Street,Corner,Latitude,Longitude
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NW,40.775149,-73.912074
1,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NE,40.774810,-73.912151
2,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NE,40.775025,-73.911891
3,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,23rd Ave,NW,40.774938,-73.912337
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,N,Q,NaN,NaN,NaN,...,FULL,NaN,False,NaN,True,31st St,Hoyt Ave South,SW,40.770313,-73.917978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,IRT,Lexington,Canal St,40.718803,-74.000193,J,N,Q,R,Z,...,NONE,NaN,True,Bway Nass not ADA,True,Lafayette St,Canal St,SW,40.718506,-74.000826
1862,IRT,Lexington,Canal St,40.718803,-74.000193,J,N,Q,R,Z,...,NONE,NaN,True,Bway Nass not ADA,True,Lafayette St,Canal St,NW,40.718638,-74.000623
1863,IRT,Lexington,Fulton St,40.710368,-74.009509,A,C,J,Z,2,...,NONE,NaN,False,NaN,True,Broadway,Fulton St,SW,40.710944,-74.009403
1864,IRT,Lexington,Fulton St,40.710368,-74.009509,A,C,J,Z,2,...,NONE,NaN,False,NaN,True,Broadway,Fulton St,NW,40.711026,-74.009190
1865,IRT,Lexington,Fulton St,40.710368,-74.009509,A,C,J,Z,2,...,NONE,NaN,False,NaN,True,Broadway,Fulton St,NW,40.711112,-74.009382

***
### TURNSTILE DATA:

In [55]:
url_data = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190921.txt'
df_turnstile = pd.read_csv(url_data)
df_turnstile

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,00:00:00,REGULAR,7198818,2438323
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,04:00:00,REGULAR,7198834,2438325
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,08:00:00,REGULAR,7198847,2438354
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,12:00:00,REGULAR,7198929,2438428
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,16:00:00,REGULAR,7199125,2438483
...,...,...,...,...,...,...,...,...,...,...,...
204923,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/20/2019,05:00:00,REGULAR,5554,420
204924,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/20/2019,09:00:00,REGULAR,5554,420
204925,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/20/2019,13:00:00,REGULAR,5554,420
204926,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/20/2019,17:00:00,REGULAR,5554,420
204927,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/20/2019,21:00:00,REGULAR,5554,420

In [76]:
df_turnstile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204928 entries, 0 to 204927
Data columns (total 11 columns):
C/A                                                                     204928 non-null object
UNIT                                                                    204928 non-null object
SCP                                                                     204928 non-null object
STATION                                                                 204928 non-null object
LINENAME                                                                204928 non-null object
DIVISION                                                                204928 non-null object
DATE                                                                    204928 non-null object
TIME                                                                    204928 non-null object
DESC                                                                    204928 non-null object
ENTRIES                                                                 204928 non-null int64
EXITS                                                                   204928 non-null int64
dtypes: int64(2), object(9)
memory usage: 17.2+ MB

In [102]:
(df_turnstile
     [(df_turnstile['STATION'] == '59 ST') & 
      #(df_turnstile['DATE'] == '09/14/2019') &
      (df_turnstile['SCP'] == '02-00-00')]
)#['ENTRIES'].unique()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,00:00:00,REGULAR,7198818,2438323
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,04:00:00,REGULAR,7198834,2438325
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,08:00:00,REGULAR,7198847,2438354
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,12:00:00,REGULAR,7198929,2438428
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,16:00:00,REGULAR,7199125,2438483
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,20:00:00,REGULAR,7199405,2438527
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2019,00:00:00,REGULAR,7199547,2438545
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2019,04:00:00,REGULAR,7199567,2438547
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2019,08:00:00,REGULAR,7199579,2438564
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2019,12:00:00,REGULAR,7199648,2438630
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2019,16:00:00,REGULAR,7199800,2438674
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/15/2019,20:00:00,REGULAR,7200012,2438732
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/16/2019,00:00:00,REGULAR,7200082,2438751
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/16/2019,04:00:00,REGULAR,7200086,2438752
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/16/2019,08:00:00,REGULAR,7200125,2438865
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/16/2019,12:00:00,REGULAR,7200262,2439096
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/16/2019,16:00:00,REGULAR,7200539,2439165
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/16/2019,20:00:00,REGULAR,7201201,2439250
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/17/2019,00:00:00,REGULAR,7201361,2439262
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/17/2019,04:00:00,REGULAR,7201375,2439267
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/17/2019,08:00:00,REGULAR,7201413,2439392
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/17/2019,12:00:00,REGULAR,7201561,2439624
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/17/2019,16:00:00,REGULAR,7201877,2439692
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/17/2019,20:00:00,REGULAR,7202574,2439783
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/18/2019,00:00:00,REGULAR,7202723,2439810
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/18/2019,04:00:00,REGULAR,7202742,2439818
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/18/2019,08:00:00,REGULAR,7202782,2439915
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/18/2019,12:00:00,REGULAR,7202925,2440175
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/18/2019,16:00:00,REGULAR,7203240,2440228
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/18/2019,20:00:00,REGULAR,7203963,2440300
30,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/19/2019,00:00:00,REGULAR,7204156,2440344
31,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/19/2019,04:00:00,REGULAR,7204170,2440348
32,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/19/2019,08:00:00,REGULAR,7204207,2440452
33,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/19/2019,12:00:00,REGULAR,7204346,2440683
34,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/19/2019,16:00:00,REGULAR,7204635,2440745
35,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/19/2019,20:00:00,REGULAR,7205355,2440808
36,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/20/2019,00:00:00,REGULAR,7205553,2440836
37,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/20/2019,04:00:00,REGULAR,7205577,2440841
38,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/20/2019,08:00:00,REGULAR,7205611,2440921
39,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/20/2019,12:00:00,REGULAR,7205777,2441138
40,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/20/2019,16:00:00,REGULAR,7206106,2441207
41,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/20/2019,20:00:00,REGULAR,7206789,2441268

#### NOTES:
* Entries and Exists are cumulative figures for each device location "SCP"
* To determine traffic volume for a specific Station, need to look and the difference between total entries/exits from start date to end date (based on predetermined date range) for each "SCP" at each "STATION"
* Each character of "LINENAME" is a specific subway line
* On top of determining overall station foot traffic, we can determine which specific lines at these stations take the most amount of foot traffic - to target advertising on specific platforms with higher volumes

In [105]:
df_turnstile['STATION'].value_counts()

34 ST-PENN STA     4200
FULTON ST          4028
23 ST              3069
GRD CNTRL-42 ST    3037
86 ST              2646
                   ...
55 ST               126
PARKSIDE AV         125
CHAUNCEY ST         118
CLEVELAND ST         84
SUTTER AV            84
Name: STATION, Length: 378, dtype: int64

In [127]:
df_turnstile[(df_turnstile['STATION'] == '34 ST-PENN STA')].groupby('SCP').agg({'SCP':'count'})

          SCP
SCP
00-00-00  168
00-00-01  126
00-00-02  126
00-00-03  126
00-00-04  126
...       ...
05-03-02   42
05-03-03   42
05-03-04   42
05-03-05   42
05-03-06   42

[63 rows x 1 columns]

In [171]:
#SCP_count_df = pd.read_csv(url_data)
#SCP_count_df['Turnstile Location'] = SCP_count_df['SCP']
df_turnstile.groupby(['STATION', 'SCP']).agg({'SCP':'count'})
#SCP_count_df.drop(columns='SCP')

                    SCP
STATION   SCP
1 AV      00-00-00   42
          00-00-01   42
          00-03-00   42
          00-03-01   42
          00-03-02   42
...                 ...
ZEREGA AV 00-00-01   41
          00-03-00   41
          00-03-01   41
          00-05-00   41
          00-05-01   41

[4320 rows x 1 columns]